<h2 class="text-3xl text-center font-bold font-[Kaushan] mb-2">Registrate</h2>

<form
  [formGroup]="registerForm"
  class="p-3 m-auto border border-zinc-300 rounded-lg"
  (ngSubmit)="onSubmit()"
>
  <div class="mb-3">
    <label>Email:</label>
    <input
      class="block w-full border border-zinc-400 px-1 py-0.5 rounded-md focus:outline-yellow-900 text-zinc-600 placeholder:text-zinc-500"
      type="email"
      name="email"
      placeholder="alguien@gmail.com"
      formControlName="email"
    />

    @if(registerForm.get('email')?.errors; as errors) {
    <p class="text-red-600 text-sm">
      @if(registerForm.get('email')?.touched && errors['required']) { El email es obligatorio. }
      @if(registerForm.get('email')?.touched && errors['email']) { Formato incorrecto }
      @if(errors['backend']) {
      {{ errors['backend'] }}
      }
    </p>
    }
  </div>

  <div class="mb-3">
    <label>Password:</label>
    <input
      class="block w-full border border-zinc-400 px-1 focus:outline-yellow-900 py-0.5 rounded-md text-zinc-600 placeholder:text-zinc-500"
      type="password"
      name="password"
      formControlName="password"
      placeholder="********"
    />
    @if(registerForm.get('password')?.errors; as errors) {
    <p class="text-red-600 text-sm">
      @if(registerForm.get('password')?.touched && errors['required']){ La contraseña es obligatoria
      } @if(errors['backend']) {
      {{registerForm.get('password')?.errors?.['backend']}}
      }
    </p>
    }
  </div>

  <div class="mb-3">
    <label>Nombre:</label>
    <input
      class="block w-full border border-zinc-400 px-1 focus:outline-yellow-900 py-0.5 rounded-md text-zinc-600 placeholder:text-zinc-500"
      type="text"
      name="name"
      placeholder="Nombre completo"
      formControlName="name"
    />
    @if(registerForm.get('name')?.errors; as errors) {
    <p class="text-red-600 text-sm">
      @if(registerForm.get('name')?.touched && errors['required']){ El nombre es obligatorio }
      @if(errors['backend']) {
      {{registerForm.get('name')?.errors?.['backend']}}
      }
    </p>
    }
  </div>

  <div class="mb-3">
    <label>Fecha de nacimiento:</label>
    <input
      class="block w-full border border-zinc-400 px-1 focus:outline-yellow-900 py-0.5 rounded-md text-zinc-600 placeholder:text-zinc-500"
      type="date"
      name="birthdate"
      formControlName="birth"
    />
    @if(registerForm.get('birth')?.errors; as errors) {
    <p class="text-red-600 text-sm">
      @if(registerForm.get('birth')?.touched && errors['required']){ La fecha es obligatoria }
      @if(errors['backend']) {
      {{registerForm.get('birth')?.errors?.['backend']}}
      }
    </p>
    }
  </div>

  <div class="mb-3">
    <label>NIP:</label>
    <input
      class="block w-full border border-zinc-400 px-1 focus:outline-yellow-900 py-0.5 rounded-md text-zinc-600 placeholder:text-zinc-500"
      type="number"
      name="nip"
      placeholder="1234567890"
      formControlName="nip"
    />
    @if(registerForm.get('nip')?.errors; as errors) {
    <p class="text-red-600 text-sm">
      @if(registerForm.get('nip')?.touched && errors['required']){ El nip es obligatorio }
      @if(errors['backend']) {
      {{registerForm.get('nip')?.errors?.['backend']}}
      }
    </p>
    }
  </div>

  <div class="mb-3">
    <label>Direccion:</label>
    <input
      class="block w-full border border-zinc-400 px-1 focus:outline-yellow-900 py-0.5 rounded-md text-zinc-600 placeholder:text-zinc-500"
      type="text"
      name="address"
      placeholder="CR 10A # 20-30"
      formControlName="address"
    />
    @if(registerForm.get('address')?.errors; as errors) {
    <p class="text-red-600 text-sm">
      @if(registerForm.get('address')?.touched && errors['required']){ La direccion es obligatoria }
      @if(errors['backend']) {
      {{registerForm.get('address')?.errors?.['backend']}}
      }
    </p>
    }
  </div>

  <div class="mb-3">
    <label>Telefono:</label>
    <input
      class="block w-full border border-zinc-400 px-1 focus:outline-yellow-900 py-0.5 rounded-md text-zinc-600 placeholder:text-zinc-500"
      type="text"
      name="telf"
      placeholder="(+57)"
      formControlName="telf"
    />
    @if(registerForm.get('telf')?.errors; as errors) {
    <p class="text-red-600 text-sm">
      @if(registerForm.get('telf')?.touched && errors['required']){ El telefono es obligatorio }
      @if(errors['backend']) {
      {{registerForm.get('telf')?.errors?.['backend']}}
      }
    </p>
    }
  </div>

  <div class="w-full mb-3">
    <button
    [disabled]="!registerForm.valid"
      type="submit"
      class="w-full bg-yellow-900 text-white font-semibold py-1 px-2 rounded-md mt-2 hover:bg-yellow-700 cursor-pointer"
    >
      Crear cuenta
    </button>
  </div>

  @if(registerForm.errors?.['backend']) {
  <auth-alert [message]="registerForm.errors?.['backend']"></auth-alert>
  }
</form>
